.container {
  width: 100%;
  height: 100vh;
  display: grid;
}

.login {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 2rem;
}

.form {
  background: #161d2f;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.form h2 {
  margin-bottom: 1rem;
}

.form button {
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 1rem;
  width: 200px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.form button img {
  width: 110px;
  height: 30px;
  object-fit: cover;
}

.form button:hover {
  transform: scale(1.05);
}
