.bookmark h2 {
  font-weight: 300;
}

.item {
  transition: transform 0.6s ease-in;
}

.item:hover {
  transform: scale(1.01);
}

.bg_img {
  width: 100%;
  height: 220px;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #bfbfbf;
}

.content span {
  font-size: 0.9rem;
}

.content img {
  width: 20px;
  height: 20px;
  filter: invert(89%) sepia(4%) saturate(4%) hue-rotate(354deg) brightness(87%)
    contrast(87%);
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #bfbfbf;
}

.category {
  text-transform: capitalize;
}
