.container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: black;
  opacity: 0.6;
}

.container img {
  width: 12px;
  height: 15px;
  filter: brightness(0) invert(1);
  fill: #fff;
  opacity: 1;
  z-index: 20;
}
