.trending h2 {
  font-weight: 300;
}

.lists {
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.lists::-webkit-scrollbar {
  display: none;
}

.item {
  width: 450px;
  height: 220px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s ease-in;
}

.bg_img {
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}

.item:hover {
  transform: scale(1.02);
  opacity: 1;
}

.content {
  z-index: 10;
  margin: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.content h2 {
  color: #fff;
  font-weight: 500;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #bfbfbf;
}

.logo {
  width: 20px;
  height: 20px;
  filter: invert(89%) sepia(4%) saturate(4%) hue-rotate(354deg) brightness(87%)
    contrast(87%);
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #bfbfbf;
}

.trending {
  margin-bottom: 1rem;
}

.category {
  text-transform: capitalize;
}
