.row {
  transition: transform 0.6s ease-in;
}

.row:hover {
  transform: scale(1.01);
}

.row h3 {
  color: #fff;
  font-weight: 500;
}

.image {
  width: 100%;
  height: 220px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: all 0.6s ease-in;
}

.bg_img {
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}

.content {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #bfbfbf;
}

.content span {
  font-size: 0.9rem;
}

.content img {
  width: 20px;
  height: 20px;
  filter: invert(89%) sepia(4%) saturate(4%) hue-rotate(354deg) brightness(87%)
    contrast(87%);
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #bfbfbf;
}

.category {
  text-transform: capitalize;
}
