@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Outfit", sans-serif;
}

body {
  background: #10141e;
  color: #ffffff;
}

.container {
  width: 90%;
  margin: 0 auto;
}
